In [11]:
import pandas as pd

In [12]:
df_premier = pd.read_csv('https://www.football-data.co.uk/mmz4281/2324/E0.csv')

In [13]:
df_premier

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,19/05/2024,16:00,Crystal Palace,Aston Villa,5,0,H,2,0,...,2.78,-0.75,1.73,2.08,1.78,2.16,1.93,2.21,1.81,2.05
376,E0,19/05/2024,16:00,Liverpool,Wolves,2,0,H,2,0,...,5.17,-2.75,2.07,1.86,2.04,1.85,2.10,1.89,2.04,1.82
377,E0,19/05/2024,16:00,Luton,Fulham,2,4,A,1,2,...,2.69,0.25,2.00,1.93,1.99,1.93,2.02,1.94,1.96,1.91
378,E0,19/05/2024,16:00,Man City,West Ham,3,1,H,2,1,...,4.82,-3.00,2.03,1.90,1.99,1.90,2.05,1.99,1.96,1.91
379,E0,19/05/2024,16:00,Sheffield United,Tottenham,0,3,A,0,1,...,3.81,1.50,2.06,1.87,2.05,1.88,2.08,1.89,2.01,1.86

In [14]:
#cambiar nombre de columnas
df_premier.rename(columns={'Date':'date',
                           'HomeTeam':'local',
                           'FTHG':'goles_local',
                           'FTAG':'goles_visita',}, inplace=True)

In [15]:
df_premier

,Div,date,Time,local,AwayTeam,goles_local,goles_visita,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,11/08/2023,20:00,Burnley,Man City,0,3,A,0,2,...,2.28,1.50,1.95,1.98,1.95,1.97,NaN,NaN,1.92,1.95
1,E0,12/08/2023,12:30,Arsenal,Nott'm Forest,2,1,H,2,0,...,2.63,-2.00,1.95,1.98,1.93,1.97,2.01,2.09,1.95,1.92
2,E0,12/08/2023,15:00,Bournemouth,West Ham,1,1,D,0,0,...,2.12,0.00,2.02,1.91,2.01,1.92,2.06,1.96,1.96,1.91
3,E0,12/08/2023,15:00,Brighton,Luton,4,1,H,1,0,...,2.48,-1.75,2.01,1.92,2.00,1.91,2.14,1.93,2.00,1.86
4,E0,12/08/2023,15:00,Everton,Fulham,0,1,A,0,0,...,1.71,-0.25,2.06,1.87,2.04,1.88,2.08,1.99,1.98,1.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,19/05/2024,16:00,Crystal Palace,Aston Villa,5,0,H,2,0,...,2.78,-0.75,1.73,2.08,1.78,2.16,1.93,2.21,1.81,2.05
376,E0,19/05/2024,16:00,Liverpool,Wolves,2,0,H,2,0,...,5.17,-2.75,2.07,1.86,2.04,1.85,2.10,1.89,2.04,1.82
377,E0,19/05/2024,16:00,Luton,Fulham,2,4,A,1,2,...,2.69,0.25,2.00,1.93,1.99,1.93,2.02,1.94,1.96,1.91
378,E0,19/05/2024,16:00,Man City,West Ham,3,1,H,2,1,...,4.82,-3.00,2.03,1.90,1.99,1.90,2.05,1.99,1.96,1.91
379,E0,19/05/2024,16:00,Sheffield United,Tottenham,0,3,A,0,1,...,3.81,1.50,2.06,1.87,2.05,1.88,2.08,1.89,2.01,1.86

In [16]:
#exraer multiples links
#1. crear variable raiz (root)
root = "https://www.football-data.co.uk/mmz4281"

In [34]:
#crear lista de ligas
leagues = ['E0', 'E1', 'E2', 'E3', 'EC']
frames = []
for league in leagues:
    for season in range(21, 23):
        url = f"{root}/{season}{season+1}/{league}.csv"
        try:
            df = pd.read_csv(url, encoding='unicode_escape')
            frames.append(df)
        except Exception as e:
            print(f"Error loading {url}: {e}")
            df.insert(1, 'season', season)

In [28]:
len(frames)
frames[4]

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,EC,05/08/2023,15:00,Aldershot,Oxford City,5,2,H,3,1,...,2.13,-0.75,2.00,1.80,2.06,1.79,2.08,1.85,1.99,1.77
1,EC,05/08/2023,15:00,Altrincham,Dag and Red,1,1,D,0,0,...,1.94,-0.25,1.68,2.15,1.75,2.12,1.96,2.19,1.73,2.05
2,EC,05/08/2023,15:00,Barnet,Hartlepool,3,2,H,1,0,...,2.05,-0.25,1.80,2.00,1.87,1.99,1.87,2.04,1.81,1.94
3,EC,05/08/2023,15:00,Chesterfield,Dorking,4,3,H,1,1,...,2.65,-2.00,1.88,1.93,1.98,1.86,1.98,1.93,1.90,1.84
4,EC,05/08/2023,15:00,Gateshead,Boreham Wood,2,2,D,2,0,...,1.78,-0.50,1.88,1.93,1.93,1.93,1.93,1.99,1.86,1.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
547,EC,20/04/2024,12:15,Gateshead,Bromley,2,1,H,0,1,...,2.07,-0.25,1.85,1.95,1.87,1.99,1.93,2.00,1.84,1.93
548,EC,20/04/2024,12:15,Oldham,Wealdstone,2,3,A,1,0,...,1.96,-0.50,2.00,1.80,2.06,1.79,2.07,1.94,1.99,1.77
549,EC,20/04/2024,12:15,Solihull,York,1,0,H,0,0,...,1.86,-0.25,1.98,1.83,2.00,1.85,2.04,2.02,1.92,1.86
550,EC,20/04/2024,12:15,Southend,Rochdale,1,2,A,1,1,...,2.06,-1.25,1.98,1.83,2.08,1.79,2.08,1.98,1.95,1.82
551,EC,20/04/2024,12:15,Woking,Fylde,3,0,H,1,0,...,1.99,-0.75,1.83,1.98,1.85,2.01,1.89,2.05,1.82,1.95

In [35]:
len(frames)

10